/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  width: 100%;
  min-width: 375px;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  margin-block-end: 40px;
}

@media (min-width: 768px) {
  .header {
      padding: 20px;
      margin-block-end: 60px;
  }
}

.header::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  position: absolute;
  top: 10px;
  left: 337px;
}

@media (min-width: 768px) {
  .header::after {
      top: 20px;
      left: 723px;
  }
}

@media (min-width: 1024px) {
  .header::after {
      top: 20px;
      left: 979px;
  }
}

.header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  position: absolute;
  top: 633px;
  left: 10px;
}

@media (min-width: 768px) {
  .header::before {
      top: 979px;
      left: 20px;
  }
}

@media (min-width: 1024px) {
  .header::before {
      top: 723px;
      left: 20px;
  }
}

.rec {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: var(--fontSizeHeading);
  font-style: normal;
  line-height: 25px; /* 138.889% */
  text-align: center;
  width: 33px;
  height: 26px;
  top: 10px;
  left: 304px;
}

@media (min-width: 768px) {
  .rec {
      top: 20px;
      left: 687px;
  }
}

@media (min-width: 1024px) {
  .rec {
      top: 20px;
      left: 943px;
  }
}

.rec::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  left: 40px;
  top: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-block-start: 68px;
  margin-inline-start: 285px;
  margin-block-end: 66.5px;
}

@media (min-width: 768px) {
  .header__theme-menu-list {
      margin-block-start: 173px;
      margin-inline-start: 658px;
      margin-block-end: 174.5px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
      flex-direction: row;
      margin-block-start: 0px;
      margin-inline-start: 373px;
      margin-block-end: 274.5px;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  text-align: center;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeHeading);
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  border: none;
  padding: 0 13px 5px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #353430;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
  display: inline-flex;
  padding: 0px 13px 5px;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid #ff0070;
}

.header-title {
  color: var(--colorHeadingText);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--fontFamily);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 95.7px;
  margin-block-end: 55px;
}

@media (min-width: 768px) {
  .header-title {
      line-height: 99px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      position: relative;
      right: 20px;
      white-space: nowrap;
  }
}

@media (min-width: 1024px) {
  .header-title {
      line-height: 129.53px;
  }
}

.header-content {
  width: auto;
  height: min-content;
}

@media (min-width: 768px) {
  .header-content {
      margin-block-start: 107px;
      margin-inline-start: 364px;
  }
}

@media (min-width: 1024px) {
  .header-content {
      margin-block-start: 58px;
      margin-inline-start: 490px;
      width: auto;
      height: 71px;
  }
}

.title-decor {
  background-color: var(--accent-color);
}

.header-text {
  color: var(--bg-color);
  font-family: var(--fontFamily);
  font-size: var(--fontSizeHeading);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 23.4px; /* 130% */
}

.main {
  padding: 0 10px 0;
}

@media (min-width: 768px) {
  .main {
      padding: 0 20px 0;
  }
}

.section {
  margin-block-end: 50px;
}

@media (min-width: 768px) {
  .section {
      margin-block-end: 80px;
  }
}

@media (min-width: 768px) {
  .first-section {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 472px;
  }
}

@media (min-width: 1024px) {
  .first-section {
      grid-template-columns: 1fr 649px;
  }
}

.heading {
  color: var(--accent-color);
  font-family: var(--fontFamily);
  font-size: var(--fontSizeHeading);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 23.4px; /* 130% */
  margin-block-end: 20px;
}

@media (min-width: 768px) {
  .heading {
      grid-column-start: 1;
      grid-column-end: 2;
  }
}

@media (min-width: 768px) {
  .focus-article {
      grid-column-start: 2;
      grid-column-end: 3;
  }
}

.next-heading {
  color: var(--bg-color);
  font-family: var(--fontFamily);
  font-size: var(--fontSizeHeading);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 23.4px; /* 130% */
  margin-block-start: 20px;
  margin-block-end: 10px;
}

@media (min-width: 768px) {
  .next-heading {
      margin-block-start: 0;
  }
}

.text {
  color: #f1b2ce;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeHeading);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.link {
  text-shadow: 1px 1px 0px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--outline-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--outline-color);
}

@media (width: 768px) {
  .second-section .heading {
      width: min-content;
  }
}

@media (min-width: 768px) {
  .second-section .next-heading {
      margin-block-start: 20px;
  }
}

@media (min-width: 1024px) {
  .second-section {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 23px 1fr;
  }
}

@media (min-width: 1024px) {
  .second-section article:first-of-type {
      grid-column-start: 1;
      grid-column-end: 2;
  }
}

@media (min-width: 768px) {
  .third-section {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 472px;
  }
}

@media (min-width: 768px) {
  .third-section .heading {
      grid-column-start: 1;
      grid-column-end: 2;
  }
}

@media (min-width: 768px) {
  .third-section article {
      grid-column-start: 2;
      grid-column-end: 3;
  }
}

@media (min-width: 1024px) {
  .third-section {
      grid-template-columns: 1fr 648px;
  }
}

@media (min-width: 768px) {
  .next {
      margin-block-end: 20px;
  }
}

.section__gallery {
  padding: 0 10px 0;
  margin-block-end: 40px;
}

@media (min-width: 768px) {
  .section__gallery {
      padding: 0 20px 0;
      margin-block-end: 60px;
  }
}

.picture__heading {
  color: var(--bg-color);
  font-family: var(--fontFamily);
  font-size: var(--fontSizeHeading);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 23.4px; /* 130% */
  margin-block-end: 10px;
}

@media (min-width: 768px) {
  .picture__heading {
      margin-block-end: 20px;
  }
}

.gallery {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .gallery {
      gap: 20px;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
          "sunset sunset ice-cream"
          "tape books ice-cream"
          "tape street street";
  }
}

@media (min-width: 768px) {
  .sunset {
      grid-area: sunset;
  }
}

@media (min-width: 768px) {
  .ice-cream {
      grid-area: ice-cream;
  }
}

@media (min-width: 768px) {
  .tape {
      grid-area: tape;
  }
}

@media (min-width: 768px) {
  .books {
      grid-area: books;
  }
}

@media (min-width: 768px) {
  .street {
      grid-area: street;
  }
}

.img-gallery {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
  min-width: 375px;
  height: 100vh;
}

@media (min-width: 768px) {
  .footer {
      padding: 20px;
      display: flex;
      justify-content: center;
  }
}

.footer::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  position: absolute;
  top: 10px;
  left: 337px;
}

@media (min-width: 768px) {
  .footer::after {
      top: 20px;
      left: 723px;
  }
}

@media (min-width: 1024px) {
  .footer::after {
      top: 20px;
      left: 979px;
  }
}

.footer::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  position: absolute;
  top: 633px;
  left: 10px;
}

@media (min-width: 768px) {
  .footer::before {
      top: 979px;
      left: 20px;
  }
}

@media (min-width: 1024px) {
  .footer::before {
      top: 723px;
      left: 20px;
  }
}

.footer-title {
  color: var(--colorHeadingText);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--fontFamily);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 95.7px;
  margin-block-end: 5px;
}

@media (min-width: 768px) {
  .footer-title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .footer-title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
