/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.container {
  max-width: 1024px;
  margin: auto;
}

.header {
  width: 100%;
  min-width: 375px;
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  margin-block-end: 40px;
}

@media (min-width: 768px) {
  .header {
      padding: 20px;
      margin-block-end: 60px;
  }
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (min-width: 768px) {
  .decorated-zone::after {
      top: 20px;
      right: 20px;
  }
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@media (min-width: 768px) {
  .decorated-zone::before {
      bottom: 20px;
      left: 20px;
  }
}

.rec {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--font-family), "Courier New";
  font-weight: 400;
  font-size: var(--size-heading);
  font-style: normal;
  line-height: 25px; /* 138.889% */
  text-align: center;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .rec {
      top: 20px;
      right: 48px;
  }
}

.rec::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  left: 40px;
  top: 10px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media (min-width: 1024px) {
  .header__theme-menu {
      align-items: flex-start;
      justify-content: center;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
      display: flex;
      flex-direction: row;
      gap: 10px;
  }
}

.header__theme-menu-item:not(:last-child) .header__theme-menu-button {
  margin-block-end: 12px;
}

@media (min-width: 778px) {
  .header__theme-menu-item:not(:last-child) .header__theme-menu-button {
      margin-block-end: 0px;
  }
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  color: var(--border-color);
  text-align: center;
  font-family: var(--font-family), "Courier New";
  font-size: var(--size-heading);
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  border: none;
  padding: 0 13px 5px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color);
}

.header-title {
  color: var(--heading-text);
  text-shadow: 4px 4px 0px var(--text-shadow);
  font-family: var(--font-family), "Courier New";
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 95.7px;
  display: flex;
  align-self: center;
}

@media (min-width: 768px) {
  .header-title {
      line-height: 99px;
      font-size: var(--size-desktop);
      position: relative;
      right: 20px;
  }
}

@media (min-width: 1024px) {
  .header-title {
      line-height: 129.53px;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: auto;
  height: min-content;
}

@media (min-width: 768px) {
  .header-content {
      justify-self: end;
      width: 364px;
      height: auto;
  }
}

@media (min-width: 1024px) {
  .header-content {
      width: 491px;
  }
}

.title-decor {
  background-color: var(--accent-color);
}

.header-text {
  color: var(--text-color);
  font-family: var(--font-family), "Courier New";
  font-size: var(--size-heading);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 23.4px; /* 130% */
}

.main {
  padding: 0 10px 0;
}

@media (min-width: 768px) {
  .main {
      padding: 0 20px 0;
  }
}

.section {
  margin-block-end: 50px;
}

@media (min-width: 768px) {
  .section {
      margin-block-end: 80px;
  }
}

@media (min-width: 768px) {
  .focus-section {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: minmax(236px, auto) minmax(472px, auto);
  }
}

@media (min-width: 1024px) {
  .focus-section {
      grid-template-columns: minmax(314px, auto) minmax(648px, auto);
  }
}

.heading {
  color: var(--border-color);
  font-family: var(--font-family), "Courier New";
  font-size: var(--size-heading);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 23.4px; /* 130% */
  margin-block-end: 20px;
}

@media (min-width: 768px) {
  .heading {
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 0;
  }
}

@media (min-width: 768px) {
  .focus-article {
      grid-column-start: 2;
      grid-column-end: 3;
  }
}

.next-heading {
  color: var(--text-color);
  font-family: var(--font-family), "Courier New";
  font-size: var(--size-heading);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 23.4px; /* 130% */
  margin-block-end: 10px;
}

@media (min-width: 768px) {
  .next-heading {
      margin-block-start: 0;
  }
}

.text {
  color: var(--outline-color);
  font-family: var(--font-family), "Courier New";
  font-size: var(--size-heading);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.focus-section .focus-article:not(:last-of-type) .text {
  margin-block-end: 20px;
}

@media (375px <= width < 1024px) {
  .attention-section article:not(:last-of-type) .text {
      margin-block-end: 20px;
  }
}

.concentration-section article:not(:last-of-type) .text {
  margin-block-end: 20px;
}

.link {
  text-shadow: 1px 1px 0px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--outline-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--outline-color);
}

@media (width: 768px) {
  .attention-section .heading {
      width: min-content;
  }
}

@media (width: 1024px) {
  .attention-section .heading {
      margin: 0;
  }
}

@media (min-width: 768px) {
  .attention-section .next-heading {
      margin-block-start: 20px;
  }
}

@media (min-width: 1024px) {
  .attention-section .next-heading {
      margin-block-start: 0;
  }
}

@media (min-width: 1024px) {
  .attention-section {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .attention-section article:first-of-type {
      grid-column-start: 1;
      grid-column-end: 2;
  }
}

@media (min-width: 768px) {
  .concentration-section {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: fit-content(236px) minmax(472px, 1fr);
  }
}

@media (min-width: 768px) {
  .concentration-section .heading {
      grid-column-start: 1;
      grid-column-end: 2;
  }
}

@media (min-width: 768px) {
  .concentration-section article {
      grid-column-start: 2;
      grid-column-end: 3;
  }
}

@media (min-width: 1024px) {
  .concentration-section {
      grid-template-columns: fit-content(315px) minmax(648px, 1fr);
  }
}

.next {
  margin-block-end: 20px;
}

.section__gallery {
  padding: 0 10px 0;
  margin-block-end: 40px;
}

@media (min-width: 768px) {
  .section__gallery {
      padding: 0 20px 0;
      margin-block-end: 60px;
  }
}

.picture__heading {
  color: var(--color-button);
  font-family: var(--font-family), "Courier New";
  font-size: var(--size-heading);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 23.4px; /* 130% */
  margin-block-end: 10px;
}

@media (min-width: 768px) {
  .picture__heading {
      margin-block-end: 20px;
  }
}

.gallery {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .gallery {
      gap: 20px;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
          "sunset sunset ice-cream"
          "tape books ice-cream"
          "tape street street";
  }
}

@media (min-width: 768px) {
  .sunset {
      grid-area: sunset;
  }
}

@media (min-width: 768px) {
  .ice-cream {
      grid-area: ice-cream;
  }
}

@media (min-width: 768px) {
  .tape {
      grid-area: tape;
  }
}

@media (min-width: 768px) {
  .books {
      grid-area: books;
  }
}

@media (min-width: 768px) {
  .street {
      grid-area: street;
  }
}

.img-gallery {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
  min-width: 375px;
  height: 100vh;
  min-height: 668px;
}

@media (min-width: 768px) {
  .footer {
      padding: 20px;
  }
}

.footer-title {
  color: var(--heading-text);
  text-shadow: 2px 2px 0px var(--text-shadow);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 95.7px;
}

@media (min-width: 768px) {
  .footer-title {
      font-size: var(--size-desktop);
  }
}
